@font-face {
  font-family: 'Luckiest Guy';
  src: url('../assets/images/5.Font/LuckiestGuy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

*{
  font-family: 'Luckiest Guy', cursive;
}
